@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

* {
    -ms-overflow-style: none;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}


body {
    font-family: "Padauk", sans-serif;
}

.swal2-modal {
    @apply bg-neutral-900 border border-neutral-700;
}

.swal2-title {
    @apply text-neutral-300;
}

.swal2-html-container {
    @apply text-neutral-500;
}

.content_card {
    @apply bg-neutral-900 border border-neutral-800 rounded-md p-6 hover:border-neutral-900 hover:shadow-lg duration-300 hover:bg-neutral-800 hover:-translate-y-1.5;
}

.content_card:hover h3 {
    @apply text-rose-500 duration-300;
}

.btn-primary {
    @apply flex items-center gap-2 px-3 py-2 text-sm font-medium text-white border border-rose-600 bg-rose-500 hover:bg-rose-600 rounded-md duration-300 cursor-pointer hover:-translate-y-1;
}

.btn-outline-primary {
    @apply flex items-center gap-2 px-3 py-2 text-sm font-medium border border-rose-600 text-rose-500 hover:text-white hover:bg-rose-500 rounded-md duration-300 cursor-pointer hover:-translate-y-1;
}

.btn_copy {
    @apply font-sans w-full text-xs hover:shadow-lg duration-200 hover:text-rose-500 group-hover:text-rose-500 bg-neutral-950 hover:bg-neutral-950 border border-neutral-800 rounded-md py-3;
}

.btn_nav {
    @apply font-sans text-xs hover:shadow-lg duration-200 hover:text-rose-500 group-hover:text-rose-500 bg-neutral-950 hover:bg-neutral-950 border border-neutral-800 rounded-md py-3 px-4;
}

.active {
    @apply text-rose-500;
}